.root {
  color: black;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
  padding: 0% 3% 3% 3%;
}

.main-title {
  text-align: center;
}

.third {
  width: 27%;
  border: 1px solid #eee;
  padding: 2%;
  margin: 1%;
  align-items: center;
  text-align: center;
}

.third>p {
  text-align: justify;
  padding: 5%;
}

.third>p.lasttext {
  text-align: center;
  padding: 0 auto;
  margin: -20px 0;
}

.epi-title {
  border: 1px solid #eee;
  border-radius: 5%;
  padding: 3%;
  font-weight: bolder;
  font-size: large;
}

.search-wrapper {
  color: black;
  /* width: 90%;  */
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0.5% 0% 0.5% 15%;
  /* border: 1px solid #eee; */
}

#searchBox {
  /* flex:0.25; */
  /* align-items: center; */
  /* text-align: center; */
  margin-left: 1%;

}

.itemsNumber {
  margin: auto;
  padding: 0.5% 0% 0.5% 15%;
}

.btn-show1 {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  font-size: larger;
  border: none;
  border-radius: 7.5%;
  cursor: pointer;
}

.btn-show {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  /* background: none; */
  background-color: blue;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #fff;
  color: #fff;
}

.searchBarStyle {
  font-size: larger;
  margin-left: 1%;
  margin-right: 1%;
}

.anotherSearchBarStyle {
  font-size: larger;
  margin-left: 3%;
}

.anotherStyle2 {
  font-size: larger;
  margin-left: 1%;
}